<h2 class="text-center" style="margin-top: 70px !important;">Shopping Cart</h2>

<div *ngIf="cart.length === 0; else cartNotEmpty" class="container text-center mt-4" style="height: 800px;">
  <div class="alert alert-danger">
    Your shopping Cart is empty...
  </div>
  <a routerLink="/"><button class="btn btn-warning">Back to Homepage</button></a>
  <img src="../../assets/img/icons8-empty-cart.gif" alt="" height="40px">
</div>

<ng-template #cartNotEmpty>
  <div class="container mt-4">
    <div *ngFor="let item of cart" class="cart-item row border mb-3 rounded">
      <div class="col-md-7 d-flex justify-content-start align-items-center p-0 border">
        <img src="{{item.image}}" alt="" style="height: 70px; padding-left: 0;" class="rounded">
        <p class="m-0 px-4">{{ item.qtty }}x {{ item.name }}</p>
        <p class="m-0">${{ formatNumber(item.price * item.qtty) }}</p>
      </div>
      <div class="col-md-5 d-flex justify-content-around align-items-center border">
        <button (click)="plusQtty(item)" class="btn plusbtn">+</button>
        <button (click)="minusQtty(item)" class="btn minubtn">-</button>
        <button (click)="deleteItem(item)" class="btn removebtn">Remove</button>
      </div>
    </div>

    <div class="border container w-75 mb-4 rounded p-0 border-bottom">
      <div class="container w-100 bg-body-tertiary p-3 border-bottom">Summary</div>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <div>Service Fee: ${{ formatNumber(calcTotal() * 0.1) }}</div>
        <div *ngIf="calcTotal() > 40" class="text-success">
          You get a 15% discount!
          <div>Original Total: ${{ formatNumber(calcTotal()) }}</div>
        </div>
      
        <ng-container *ngIf="calcTotal() > 40; else noDiscountLabel">
          <div>Total with Discount: ${{ formatNumber(calcDiscountedTotal()) }}</div>
        </ng-container>
        <ng-template #noDiscountLabel>
          <div>Total: ${{ formatNumber(calcTotal()) }}</div>
        </ng-template>
        <div class="fw-bold">Total amount (Including VAT): ${{ formatNumber(calcDiscountedTotal() + calcTotal() * 0.1) }}</div>
      </div>
    </div>

    <form class="container mt-4">
      <h3 class="mb-3">Enter Your Information</h3>
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" required>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
      </div>
      <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" placeholder="Enter your phone number" required>
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <textarea class="form-control" id="address" placeholder="Enter your address" rows="3" required></textarea>
      </div>
      <button type="button" class="btn btn-success" (click)="placeOrder()">Place Order</button>
    </form>
  </div>
</ng-template>
