<!-- The About Us Content -->
<div class="container p-5">
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/img/gabriella-clare-marino-mYK3JCevRTk-unsplash.jpg" class="img-fluid" alt="About Us Image">
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div>
        <h2>About Us</h2>
        <p>
          <span class="fw-normal">Welcome to Padova Province Restaurant, your gateway to an authentic Italian culinary experience. Our commitment is to offer you the finest Italian cuisine, handcrafted with a passion for authentic flavors and the use of exquisite ingredients.</span>
        </p>
        <p>
          <span class="fw-normal">Our journey began with a simple yet powerful idea - to create a place where food becomes a memorable experience. We take pride in delivering exceptional service to our valued customers, ensuring that your dining experience with us is nothing short of extraordinary.</span>
        </p>
        <p>
          <span class="fw-normal">Visit us at our picturesque location in the heart of Padova Province. You can find us at:</span>
        </p>
        <p>
          <strong>Padova Province Restaurant</strong><br>
          123 Main Street<br>
          Padova Province, Italy
        </p>
        <p>
          <span class="fw-normal">Join us and savor the taste of Italy while enjoying our warm and inviting ambiance. We look forward to sharing our love for Italian cuisine with you.</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container p-5">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center">
      <div style="display: flex; flex-direction: column;">
        <h2>History</h2>
        <p>
          <span class="fw-light">Padova Province Restaurant has its roots in the humble beginnings of a determined family. They started with little more than a dream and a love for Italian cuisine. The family's journey began in poverty, but their unwavering passion and dedication led to the establishment of this restaurant.</span>
        </p>
        <p>
          <span class="fw-normal">They created a place where food transformed into a memorable experience. With hard work, dedication, and a commitment to excellence, they turned their small eatery into a thriving restaurant, and their rags-to-riches story is now an integral part of our heritage.</span>
        </p>
        <p>
          <span class="fw-bold">Today, you can visit us at our picturesque location in the heart of Padova Province, Italy. We invite you to explore the story of our family's rise from poverty to prosperity while savoring the authentic taste of Italy in the warm and inviting ambiance of our restaurant.</span>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img src="../../assets/img/boston-public-library-7fsmqjUKrCc-unsplash.jpg" class="img-fluid" alt="About Us Image">
    </div>
  </div>
</div>
