a {
  color: #FEFEFE;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #D4AF37;
}

.custom-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.title {
  font-family: 'Italiana', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #D4AF37;
}
