#hero {
  height: 50dvh;
  background-image: url(../../assets/img/hero.jpg);
  background-size: cover;
  background-position: 100% 70%;
  font-family: 'Italiana', sans-serif !important;
}

@media (max-width: 576px) {
  #hero {
    height: 30dvh;
  }
}
