<div class="container-fluid" id="hero">
</div>

<div class="bg-body-tertiary py-5 mb-5">
  <h1 class="text-center text-uppercase fw-light mb-3 p-0" style="  font-family: 'Italiana', sans-serif">Menu</h1>
  <div class="album d-flex justify-content-center" style="font-family: 'Lato', sans-serif;  ">
    <div class="container row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3" style="display: flex !important; justify-content: center !important;">
      <div *ngFor="let product of products; let i = index" class="col g-3 p-0" style="display: flex !important; justify-content: center !important; width: 350px !important;">
        <div class="card shadow-sm" style="width: 325px !important; box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;">
          <img src={{product.image}} alt="" class="card-img-top" width="100%" style="object-fit: contain;">
          <div class="card-body">
            <p class="card-text">
              <b>{{product.name}}</b><br>
              {{product.description}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a routerLink="/productDetails/{{i}}" *ngIf="product.availability" >
                  <button class="btn btn-sm btn-outline-warning rounded" style=" margin-right: 5px;">Details</button>
                </a>
                <button class="btn btn-sm btn-outline-success rounded" (click)="addToOrderCart2(i)" *ngIf="product.availability">
                  <img width="15px" height="15px" src="https://img.icons8.com/ios-glyphs/30/000000/add-shopping-cart.png" alt="add-shopping-cart"/>
                </button>
              </div>
              <small *ngIf="product.availability === false" class="text-body-secondary">Out of Order</small>
              <small *ngIf="product.availability === true" class="text-body-secondary">${{product.price}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>