<div class="container-fluid" id="hero">
</div>

<div class="container-fluid p-5 h1 bg-body-tertiary"><h1 class="text-center m-0 fw-bold display-4"><span class="fw-light" style="font-family: 'Italiana', sans-serif;">Authentic </span>Cousine</h1></div>


<div class="container p-2 pt-5 mb-5">
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/img/lexie-barnhorn-rWjd8kNuT7Q-unsplash.jpg" class="img-fluid" alt="Image">
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div>
        <h1 class="fw-light">Welcome to <span class="fw-bold">Padova Province</span></h1>
        <p class="fw-light">Experience the finest Italian cuisine, lovingly crafted with quality ingredients, <br> at Padova Province Restaurant.</p>
      </div>
    </div>
  </div>
</div>



<section class="py-3 text-center container-fluid bg-body-tertiary" style="height: 573px; display: flex; flex-direction: column; justify-content: center;">
  <div class="row" style="padding: 20px">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-bold"><Span class="fw-light">Why</Span> Padova Province</h1>
      <p class="lead text-body-secondary pb-5">Discover the reasons why Padova Province is the perfect destination for your dining experience. From authentic flavors to exceptional service, we offer an unforgettable journey through the heart of Italian cuisine.</p>
      
      <div class="d-flex justify-content-center my-4">
        <div class="reason" style="padding: 10px; width: 300px;"> 
          <h4 class="fw-bold">Authentic Flavors</h4>
          <p class="fw-light">Enjoy the taste of Italy with our authentic recipes.</p>
        </div>
        <div class="reason" style="padding: 10px; width: 300px;"> 
          <h4 class="fw-bold">Exquisite Ingredients</h4>
          <p class="fw-light">We use the finest quality ingredients for every dish.</p>
        </div>
        <div class="reason" style="padding: 10px; width: 300px;"> 
          <h4 class="fw-bold">Exceptional Service</h4>
          <p class="fw-light">Our friendly staff is dedicated to making your stay memorable.</p> 
        </div>
      </div>
    </div>
  </div>
</section>
